<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Todos</title>
    </head>
    <body>
        <h1>My Todos</h1>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>Description</th>
                </tr>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.id}">id</td>
                    <td th:text="${todo.task}">task</td>
                    <td th:text="${todo.description}">description</td>
                </tr>
            </table>
    </body>
</html>